@import url("../../../style.css");

.register{
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.register h2{
  margin-bottom: 2rem;
}

.register small{
  display: block;
  margin-top: 1.5rem;
}

.register small a{
  color: var(--color-primary);
}

@media screen and (max-width: 800px){
  .register{
    width: 100%;
  }
}