@import url("../../../style.css");

.post-detail{
  width: var(--form-width);
  background: var(--color-white);
  margin-inline: auto;
  padding: 2rem 0;
}

.post-detail__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.post-detail__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-detail__thumbnail{
  margin: 1rem 0;
  height: fit-content;
  max-height: 30rem;
  overflow: hidden;
}

.post-detail p{
  margin-bottom: .7rem;
}

/*mediaqueries*/

@media screen and (max-width: 800px){
  .post-detail{
    width: 100%;
    background: transparent;
    padding: 0;
  }
}